ray
transforms3d
tqdm~=4.61.2
opencv-python
numba~=0.47.0
pycuda
tensorboardX
scikit-image
trimesh~=3.9.18
yacs
h5py
loguru
gdown # for downloading checkpoints
pyrender~=0.1.45
pyglet
open3d # for tsdf fusion in evaluation

numpy~=1.16.6
pil~=1.1.7